<section
  class="pro:h-[135dvh] flex h-[155dvh] w-full justify-center xl:h-[115dvh]"
>
  <div class="container flex flex-col gap-[5vh] px-[5vw] py-[5vh]">
    <div class="title flex-center flex w-full flex-col gap-[3vh]">
      <p
        class="text-blueMain font-semibold uppercase md:text-xl lg:text-2xl xl:text-lg"
      >
        why us?
      </p>
      <h1 class="title_text text-center font-medium">
        Why they prefer ThaiPay
      </h1>
    </div>
    <div class="cards flex w-full flex-col gap-[3vh] md:flex-row md:flex-wrap">
      <div
        class="card_1 shadow-orangeLight flex grow basis-xs flex-col justify-around gap-[3vh] rounded-3xl bg-white p-[4vh] shadow-sm"
      >
        <h1 class="text-blueMain title_card_big text-left font-bold">3k+</h1>
        <h2 class="title_card font-medium">
          Businesses already running on ThaiPay
        </h2>
      </div>
      <div
        class="card_2 shadow-orangeLight flex grow basis-xs flex-col justify-around gap-[3vh] rounded-3xl bg-white p-[4vh] shadow-sm"
      >
        <h2 class="title_card font-medium">
          Instant Withdraw your funds at any time
        </h2>
        <div class="pics flex-center flex gap-8">
          <img src="p1.svg" alt="person's account" class="h-20" />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-20 xl:size-10"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"
            />
          </svg>
          <img src="p2.svg" alt="bank's account" class="h-20" />
        </div>
      </div>
      <div
        class="card_3 shadow-orangeLight relative flex h-[50vh] grow flex-col justify-around gap-[4vh] rounded-3xl bg-white p-[4vh] shadow-sm xl:flex-row xl:p-0 xl:px-[4vh] xl:pt-[4vh]"
      >
        <div
          class="left flex flex-col items-start justify-center gap-[2vh] p-[1vh] xl:w-4/12"
        >
          <h1 class="title_card font-medium">No assets volatility</h1>
          <p class="font-light">
            Generate returns on your cash reserves without making any
            investments.
          </p>
        </div>
        <div class="right_graph flex items-end justify-center xl:grow">
          <div
            class="graph__card xl:shadow-0 flex h-[20vh] w-full flex-col items-center justify-between rounded-3xl bg-white shadow-lg xl:h-[40vh] xl:rounded-t-3xl xl:rounded-b-none xl:shadow-[0_-1px_5px_rgba(0,0,0,0.1),_-1px_0_5px_rgba(0,0,0,0.1),1px_0_5px_rgba(0,0,0,0.1)]"
          >
            <div
              class="top flex w-full justify-between p-[1vh] md:p-[2vh] xl:p-[3vh]"
            >
              <div class="top_right">
                <h1 class="graph_title_text xl:font-medium">Summary</h1>
                <h1 class="graph_numbers font-semibold">฿1,876,580</h1>
              </div>
              <h1 class="graph_numbers flex xl:font-medium">
                6 months<svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-3 xl:size-7"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m19.5 8.25-7.5 7.5-7.5-7.5"
                  />
                </svg>
              </h1>
            </div>
            <div class="middle h-[15vh] w-full px-[2vh]">
              <div
                class="grap_clip bg-blueMain border-t-blueMain from-blueMain h-full w-full border-t-6 bg-gradient-to-b to-white"
              >
                hi
              </div>
            </div>
            <div
              class="bottom flex w-11/12 justify-around border-t-2 border-t-gray-300"
            >
              <p class="graph_title_text text-gray-500">Jan</p>
              <p class="graph_title_text text-gray-500">Feb</p>
              <p class="graph_title_text text-gray-500">Mar</p>
              <p class="graph_title_text text-gray-500">Apr</p>
              <p class="graph_title_text text-gray-500">May</p>
              <p class="graph_title_text text-gray-500">Jun</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
