<section class="flex min-h-fit w-full justify-center">
  <div class="container px-[5vw] py-[5vh] xl:mt-20">
    <div
      class="card bg-blueMainDark flex h-fit w-full flex-wrap gap-[5vh] rounded-3xl p-[6vh] xl:items-center xl:gap-0 xl:p-[10vh]"
    >
      <div class="text flex flex-col gap-[3vh] xl:w-1/2">
        <p
          class="text-blueMain font-semibold uppercase md:text-xl lg:text-2xl xl:text-left xl:text-lg"
        >
          try it now
        </p>
        <h1
          class="title_text text-left font-medium text-white md:w-9/12 xl:w-10/12"
        >
          Ready to level up your payment process?
        </h1>
        <p class="text-left font-light text-gray-400 lg:w-8/12 xl:w-8/12">
          Supports small businesses with simple invoicing, powerful
          integrations, and cash flow management tools.
        </p>
      </div>
      <div
        class="buttons flex h-fit w-full flex-wrap gap-[3vh] md:justify-around md:gap-0 xl:h-15 xl:w-1/2"
      >
        <button
          class="bg-blueMain button_text w-full border-0 text-white md:w-2/5"
        >
          Get Started Now
        </button>
        <button
          class="flex-center button_text flex w-full justify-center gap-[2vh] border-white text-white md:w-2/5"
        >
          Learn More<svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="#ffffff"
            class="size-4 xl:size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
