<section
  class="bg-blueMainDark pro:h-[130dvh] flex h-[150dvh] justify-center md:h-[120dvh] lg:h-[80dvh]"
>
  <div
    class="container flex flex-col gap-[3vh] px-[5vw] py-[5vh] md:gap-[10vh] xl:justify-around"
  >
    <div
      class="title flex-center flex w-full flex-col lg:max-h-fit lg:flex-row lg:justify-start"
    >
      <div
        class="flex-center flex w-full flex-col gap-[2vh] lg:max-h-fit xl:w-6/12 xl:items-start"
      >
        <p
          class="text-blueMain font-semibold uppercase md:text-xl lg:text-2xl xl:text-lg"
        >
          Steps
        </p>
        <h1 class="title_text text-center font-medium text-white xl:text-left">
          Maximize your returns with a Reserve account that generates.
        </h1>
      </div>
    </div>
    <div
      class="cards flex flex-wrap items-stretch justify-between gap-[3vh] md:max-h-fit md:gap-[3vh] lg:gap-[2vh]"
    >
      <div
        class="card_1 pro:max-h-fit flex grow flex-col items-start justify-between gap-[1vh] rounded-3xl bg-white/20 p-[3vh] lg:max-h-full lg:max-w-[48%] lg:justify-start xl:max-w-[32%]"
      >
        <h1
          class="to-blueMainDark title_card_big bg-gradient-to-b from-white bg-clip-text text-left text-transparent"
        >
          1
        </h1>
        <div class="flex flex-col items-start gap-[2vh]">
          <h1 class="title_card font-normal text-white">Open your account</h1>
          <p class="font-light text-gray-400">
            Sign up to finpay and set up your account from the dashboard.
          </p>
        </div>
      </div>
      <div
        class="card_2 pro:max-h-fit flex grow flex-col items-start justify-between gap-[1vh] rounded-3xl bg-white/20 p-[3vh] lg:max-h-full lg:max-w-[48%] lg:justify-start xl:max-w-[32%]"
      >
        <h1
          class="to-blueMainDark title_card_big bg-gradient-to-b from-white bg-clip-text text-left text-transparent"
        >
          2
        </h1>
        <div class="flex flex-col items-start gap-[2vh]">
          <h1 class="title_card font-normal text-white">Transfer your money</h1>
          <p class="font-light text-gray-400">
            Move money from to another account into and start to earning up.
          </p>
        </div>
      </div>
      <div
        class="card_3 pro:max-h-fit flex grow flex-col items-start justify-between gap-[1vh] rounded-3xl bg-white/20 p-[3vh] lg:justify-start xl:max-w-[32%]"
      >
        <h1
          class="to-blueMainDark title_card_big bg-gradient-to-b from-white bg-clip-text text-left text-transparent"
        >
          3
        </h1>
        <div class="flex flex-col items-start gap-[2vh]">
          <h1 class="title_card text-left font-normal text-white">
            Watch your balance grow
          </h1>
          <p class="font-light text-gray-400">
            Accessed instantly and remain insulated from market volatility.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
